[include]
  path = .gitconfig.local
	path = .gitconfig.platform

[alias]
  recent = !git for-each-ref --sort=-committerdate refs/heads/ --color=always --format='%(color:green)%(committerdate:relative)%09%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(color:magenta)%(authorname)' | less -R

[commit]
  gpgsign = true

[core]
  editor = $EDITOR
  quotepath = false
  excludesfile = ~/.gitignore
  commentChar = ";"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[fetch]
  prune = true

[format]
  pretty = %Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset

[help]
  autocorrect = 1

[log]
  abbrevCommit = true

[pull]
  ff = only

[push]
	default = current
  followTags = true
	autoSetupRemote = true

[rebase]
  autosquash = true

[rerere]
  enabled = true
  autoupdate = false
[user]
	name = Greg Losie
	email = greg@pco.bz
[init]
	defaultBranch = main
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
  conflictStyle = zdiff3
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
