[include]
  path = .gitconfig.local

[alias]
  recent = !git for-each-ref --sort=committerdate refs/heads/ --format='%(color:green)%(committerdate:relative)%09%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(color:magenta)%(authorname)'

[commit]
  gpgsign = true

[core]
  editor = code --wait
  quotepath = false
  excludesfile = ~/.gitignore
  commentChar = ";"

[credential]
  helper = osxkeychain

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[fetch]
  prune = true

[format]
  pretty = %Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset

[help]
  autocorrect = 1

[log]
  abbrevCommit = true

[pull]
  ff = only

[push]
  default = current
  followTags = true

[rebase]
  autosquash = true

[rerere]
  enabled = true
  autoupdate = false
